/*Variabili del documento css*/
:root {
    --button-dim: 70px;
}

/*Corpo della pagina HTML*/
body {
    margin: 0px;
    padding: 0px;
}

/* è il div principale, quello in alto lungo tutto lo schermo */
.top-bar {
    width: 100%;
    height: var(--button-dim);
    color: white;
    background-color: rgb(68, 68, 68);
}

/* div dentro il div principale, dove ci sono le icone e nome del WBS, GANTT*/
div.top-bar div.button {
    text-align: center;
    cursor: pointer;
    width: var(--button-dim);
    height: 100%;
    float: left;
}

/*quando c'è il cursore sul div, lo sfondo diventa nero e la scritta si illumina */
div.top-bar div.button:hover {
    background-color: #262626;
}


/*è la barra verticale bianca per dividere i div */
.breaker {
    margin: 5px 0;
    float: left;
    border-right : 1px solid white;
    height: calc(var(--button-dim) - 10px);
}

img {
    width: calc(var(--button-dim) - 30px);
    height: calc(var(--button-dim) - 30px);
    padding: 5px;
}
