/*Variabili del documento css*/
:root {
    --button-dim: 70px;
}

/*Corpo della pagina HTML*/
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* è il div principale, quello in alto lungo tutto lo schermo */
.top-bar {
    width: 100%;
    height: var(--button-dim);
    color: white;
    background-color: #414141;
}

/* div dentro il div top-bar, dove ci sono le icone e i nomi delle schede*/
div.top-bar div.button {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: var(--button-dim);
    height: 100%;
    float: left;
}

/*quando c'è il cursore sul div, lo sfondo diventa nero*/
div.top-bar div.button:hover {
    background-color: #262626;
}

/*tasto della sidebar(menu)*/
div.top-bar i.button {
    text-align: center;
    font-size: calc(var(--button-dim) - 10px);
    line-height: var(--button-dim);
    cursor: pointer;
    width: var(--button-dim);
    height: 100%;
    float: left;
}

div.top-bar div.side-bar {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: var(--button-dim);
    height: 100%;
    float: left;
}

div.top-bar div.side-bar:hover {
    background-color: #262626;
    width: calc(var(--button-dim) + 100px);
    height: 200%;
}

/*è la barra verticale bianca per dividere i div */
.breaker {
    margin: 5px 0;
    float: left;
    border-right : 1px solid white;
    height: calc(var(--button-dim) - 10px);
}

img {
    width: calc(var(--button-dim) - 30px);
    height: calc(var(--button-dim) - 30px);
    padding: 5px;
}
