html
    head
        link(rel="stylesheet", href="style.sass")
    body
<<<<<<< HEAD
        div.button
=======
        .tab-nav
            .button
        .side-menu
>>>>>>> 7280241d846580cad13ec3185f926a173435e1a5
