<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="main.sass")

        title Open PROject

    body
        .d1(style="background: purple; width: 100px; heigth: 100px")
        .d2(style="background: purple; width: 100px; heigth: 100px")
        .d3(style="background: purple; width: 100px; heigth: 100px")
        .d4(style="background: purple; width: 100px; heigth: 100px")
        .d5(style="background: purple; width: 100px; heigth: 100px")
        .d6(style="background: purple; width: 100px; heigth: 100px")
        .d7(style="background: purple; width: 100px; heigth: 100px")
        .d8(style="background: purple; width: 100px; heigth: 100px")
        .d9(style="background: purple; width: 100px; heigth: 100px")
