<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="main.sass")

        title Open PROject

    body
        .side-menu#a
            ul
                li
                    span Nuovo progetto
                li
                    span Apri progetto
                li
                    span Salva
                li
                    span Salva con nome
                li
                    span Esporta...
                li
                    span Opzioni
                li
                    span Info


        .tab-window#b
            .tab-nav#c
                .button#side-menu-toggler(onclick="ciao()" style="z-index: 1")
                    div
                        span Menu
                    img(src="test.png", alt="")
                .button
                    div
                        span WBS
                    img(src="test.png", alt="")
                .button.active
                    div
                        span GANTT
                    img(src="test.png", alt="")
            
            .tab-menu
                ul
                    li
                        span File
                    li
                        span Modifica
                    li
                        span Selezione
                    li
                        span Visualizza
                    li
                        span Esegui
            
            .tab-view

        script(src="test.ts")
