<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="main.sass")

        title Open PROject

    body
        .side-menu(id="a")

        .tab-window(id="b")
            .tab-nav
                .button(style="background: yellowgreen" onclick="ciao()")
                    img(src="test.png", alt="")
                .button(style="background: orange")
                    img(src="test.png", alt="")
                .button(style="background: turquoise")
                    img(src="test.png", alt="")
            .tab-menu
            .tab-view
        
        //div.test
            div(style="background: yellow") testo
            div(style="background: orange") testo
            div(style="background: orangered") testo
            div(style="background: red") testo
            div(style="background: purple") testo
            div(style="background: blue") testo
            div(style="background: cyan") testo
            div(style="background: yellowgreen") testo
            div(style="background: green") testo

        script var opened = false; function ciao(){if(!opened){document.getElementById("a").style.width ="300px"; opened=true;} else {document.getElementById("a").style.width ="0px"; opened=false;}}
