//Variables
//Colors
$dark-grey: #464646
$dark-grey-2: #303030
$dark-grey-3: #151515

//Tabs navigation properties
$tab-nav-height: 60px
$tab-menu-height: 30px
$tab-button-padding: 10px

//Side menu properties
$side-menu-width: 200px


body 
  margin: 0px
  font-family: "Arial"
  font-size: 12px


//Tab window
.tab-window
  height: 100vh
  display: grid
  grid-template-rows: $tab-nav-height $tab-menu-height

  .tab-nav
    display: flex
    background: $dark-grey
    transition: 0.5s

    &.move-left
      margin-left: $side-menu-width - $tab-nav-height

    .button
      flex-basis: $tab-nav-height
      box-sizing: border-box
      padding: $tab-button-padding
      color: white

      &:hover
        background: grey

        div
          span
            transform: rotateX(45deg)
      
      &.active
        background: $dark-grey-2

      &:first-child
        z-index: 1

      div
        position: absolute
        background: orangered

        span
          top: 0px
          left: 0px
          background: yellowgreen
        

      img
        height: 100%
        width: 100%
    
  .tab-menu
    background: $dark-grey-2
    color: white

    ul
      margin: 0px
      padding: 0px
      height: 100%
      list-style: none

      li
        display: inline-flex
        align-items: center
        height: 100%
        padding: 0px 8px

        &:hover
          background: grey

  .tab-view


//Side menu
.side-menu
  height: 100%
  width: $side-menu-width
  position: fixed
  transform: translateX(-$side-menu-width)
  padding-top: $tab-nav-height
  background: $dark-grey-3
  color: white
  transition: 0.5s

  &.active
    transform: translateX(0)

    ul
      opacity: 1

  ul
    display: flex
    flex-direction: column
    opacity: 0
    margin: 0px
    padding: 0px
    list-style: none
    overflow: hidden
    transition: 0.5s

    li
      display: inline-flex
      align-items: center
      margin: 0px 10px
      padding: 10px
      border-bottom: 1px solid white
      overflow: hidden

      span
        overflow: hidden

      &:last-child
        border: none

      &:hover
        background: white
        color: black
