.button
  display: flex
  align-items: center
  justify-content: center
  padding: 10px
  cursor: pointer

  *
    first-letter-capitalized()
    user-select: none

  .fas
    font-size: 2em


.delete-button:hover
  background: crimson
