#gantt-view
  table
    box-sizing: border-box
    border-collapse: collapse
    font-size: 1em

    th
      padding: 0.5em
      background: dark-grey[1]
      color: white

      progress::-webkit-progress-value
        background-color: darkgrey
    
    td
      padding: 0.5em
      border-right: 1px solid gainsboro
    
    tr:not(:first-child)
      border-bottom: 1px solid gainsboro

    .day-cell
      box-sizing: border-box
      min-width: 2em

      &.fill
        background: skyblue