#gantt-view
  table
    box-sizing: border-box
    border-collapse: collapse
    font-size: 1em

    th
      padding: 0.5em
      background: dark-grey[1]
      color: white

      progress::-webkit-progress-value
        background-color: darkgrey
    
    td
      position: relative
      padding: 0.5em
      white-space: nowrap
      vertical-align: middle
      
      &:first-child
        border-right: 1px solid darkgrey
      
      &.date
        text-align: right 
      &.cost
        text-align: center
      
    tr
      > .day-cell
        border-left: 1px solid darkgrey

        ~ .day-cell
          border-left: none 
    
      &:nth-child(even)
        background-color: whitesmoke

    .day-cell
      box-sizing: border-box
      min-width: 2em

      &.fill
        background: skyblue