table
  width: 100%
  height 100%
  box-shadow: border-box
  border-collapse: collapse

  th
    padding: 0.5em
    background: dark-grey[1]
    color: white

    progress::-webkit-progress-value
      background-color: darkgrey