ul.menu
    display: flex
    margin: 0px
    padding: 0px
    list-style: none
    
    li.button:hover
      background: white
      color: black
      span
        overflow: hidden


.menu.vertical
  flex-direction: column
