#modal
  display: none
  position: fixed
  z-index: 10
  left: 0
  top: 0
  overflow: auto
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.4)

  *
    color: #eeeeee

  &.opened
    display: block

  #modal-content
    background-color: dark-grey[0]
    position: relative
    margin: auto
    padding: 0
    border: 1px solid #888
    width: auto
    min-width: 500px
    max-width: 40%
    animation-name: animatetop
    animation-duration: 0.5s
    animation-fill-mode: forwards

    #modal-header
    #modal-footer
    #modal-body
      box-sizing: border-box
      min-height: 2em
      padding: 0.5em 3em
      background-color: dark-grey[1]
      text-align: center

      .list
        display: inline-block

        .button
          width: 100%
          padding: 0.5em 3em

      .button
        background-color: dark-grey[1]
        margin-bottom: 0.25em

        &:hover
          background-color: skyblue
          color: dark-grey[2]
    
    #modal-header
      position: relative

      .delete-button
        position: absolute
        top: 0
        right: -3em
        height: 2rem
        width: 2rem
        padding: 0.25rem
        font-size: 0.75em

        &:hover
          background-color: crimson

    #modal-body
      padding: 1em 3em
      background-color: dark-grey[0]

@keyframes animatetop
    from
      top: -100vh
      opacity: 0
    to
      top: 15%
      opacity: 1

