progress
  -webkit-appearance: none
  appearance: none
  
  &::-webkit-progress-bar
    background-color: gainsboro
    border-radius: 1em
  
  &::-webkit-progress-value
    background-color: skyblue
    border-radius: 1em