#project-info-view
  float: left

  .list
    max-width: 500px

    margin: 25px 50px
    padding: 25px 50px

    background: skyblue

    .property
      margin-bottom: 25px

      .property-body
        [type="text"]
          box-sizing: border-box
          width: 100%

          padding: 5px
          border: none

          &:focus
          &:active
            outline: none