//Imports
@import './1_helpers/*'

body
  margin: 0px
  font-family: 'Arial'
  font-size: 12px

//Tab window
#tab-window
  height: 100vh
  display: grid
  grid-template-rows: $tab-window.nav.height $tab-window.menu.height

  #tab-nav
    display: flex
    background: $dark-grey[0]
    transition: 0.5s

    &.move-left
      margin-left: $side-menu-width - $tab-window.nav.height

    .button
      position: relative
      flex-basis: $tab-window.nav.height
      box-sizing: border-box
      padding: $tab-window.button.padding
      color: white

      &:not(.active):hover
        div
          transform: translateY(0px)

      &.active
        background: $dark-grey[1]

      &:first-child
        z-index: 1

      div
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        transform: translateY(-100%)
        display: flex
        justify-content: center
        align-items: center
        background: white
        color: black
        transition: 0.3s

        span
          text-transform: uppercase
          font-size: 14px
          font-weight: 400
          user-select: none

      img
        height: 100%
        width: 100%

  #tab-menu
    background: $dark-grey[1]
    color: white

    ul
      counter-reset: menus
      margin: 0px
      padding: 0px
      height: 100%
      list-style: none

      li
        display: inline-flex
        align-items: center
        height: 100%
        padding: 0px 8px
        cursor: pointer

        &:hover
          background: white
          color: black

        span
          first-letter-capitalized()

  #tab-view
    display: flex
    flex-direction: row-reverse

    #properties-panel
      width: $properties-panel-width
      background: $dark-grey[0]
      color: white

      .property-list
        display: flex
        flex-direction: column
        margin: 10px

        .property
          separator(1px, solid, white)

          .property-head
            first-letter-capitalized()
            font-weight: 600

          .property-head::first-letter
            text-transform: uppercase

//Side menu
#side-menu
  height: 100%
  width: $side-menu-width
  position: fixed
  transform: translateX(- $side-menu-width)
  padding-top: $tab-window.nav.height
  background: $dark-grey[2]
  color: white
  transition: 0.5s

  &.opened
    transform: translateX(0)

    ul
      opacity: 1

  ul
    display: flex
    flex-direction: column
    opacity: 0
    margin: 0px
    padding: 0px
    list-style: none
    transition: 0.5s

    li
      display: inline-flex
      align-items: center
      margin: 0px 10px
      padding: 10px
      transition: 0.5s padding-left
      cursor: pointer

      separator(1px, solid, white)

      &:hover
        padding-left: 20px
        background: white
        color: black
        font-weight: 600

      span
        overflow: hidden

        first-letter-capitalized()

.button *
  cursor: pointer