#tab-window #tab-menu ul li span::first-letter, #tab-window #tab-view #properties-panel .property-list .property .property-head::first-letter, #side-menu ul li span::first-letter {
  text-transform: uppercase; }

body {
  margin: 0px;
  font-family: "Arial";
  font-size: 12px; }

#tab-window {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 30px; }

#tab-window #tab-nav {
  display: flex;
  background: #464646;
  transition: 0.5s; }

#tab-window #tab-nav.move-left {
  margin-left: 140px; }

#tab-window #tab-nav .button {
  position: relative;
  flex-basis: 60px;
  box-sizing: border-box;
  padding: 10px;
  color: white; }

#tab-window #tab-nav .button:not(.active):hover div {
  transform: translateY(0px); }

#tab-window #tab-nav .button.active {
  background: #303030; }

#tab-window #tab-nav .button:first-child {
  z-index: 1; }

#tab-window #tab-nav .button div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  transition: 0.3s; }

#tab-window #tab-nav .button div span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  user-select: none; }

#tab-window #tab-nav .button img {
  height: 100%;
  width: 100%; }

#tab-window #tab-menu {
  background: #303030;
  color: white; }

#tab-window #tab-menu ul {
  margin: 0px;
  padding: 0px;
  height: 100%;
  list-style: none; }

#tab-window #tab-menu ul li {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0px 8px;
  cursor: pointer; }

#tab-window #tab-menu ul li:hover {
  background: white;
  color: black; }

#tab-window #tab-view {
  display: flex;
  flex-direction: row-reverse; }

#tab-window #tab-view #properties-panel {
  width: 300px;
  background: #464646;
  color: white; }

#tab-window #tab-view #properties-panel .property-list {
  display: flex;
  flex-direction: column; }

#tab-window #tab-view #properties-panel .property-list .property {
  margin: 0px 10px;
  border-bottom: 1px solid white; }

#tab-window #tab-view #properties-panel .property-list .property:last-child {
  border-bottom: none; }

#tab-window #tab-view #properties-panel .property-list .property .property-head {
  font-weight: 600; }

#tab-window #tab-view #properties-panel .property-list .property .property-head::first-letter {
  text-transform: uppercase; }

#side-menu {
  height: 100%;
  width: 200px;
  position: fixed;
  transform: translateX(-200px);
  padding-top: 60px;
  background: #151515;
  color: white;
  transition: 0.5s; }

#side-menu.opened {
  transform: translateX(0); }

#side-menu.opened ul {
  opacity: 1; }

#side-menu ul {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  list-style: none;
  transition: 0.5s; }

#side-menu ul li {
  display: inline-flex;
  align-items: center;
  margin: 0px 10px;
  padding: 10px;
  transition: 0.5s padding-left;
  cursor: pointer;
  border-bottom: 1px solid white; }

#side-menu ul li:last-child {
  border-bottom: none; }

#side-menu ul li:hover {
  padding-left: 20px;
  background: white;
  color: black;
  font-weight: 600; }

#side-menu ul li span {
  overflow: hidden; }

.button * {
  cursor: pointer; }
