
svg {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}

rect {
  width: 100px;
  height: 50px;
  fill: white;
  stroke-width: 2px;
  stroke: black;
  x: 250px;
  y: 250px;
}
