$widthSvg: 500px;
$heightSvg: 500px;
$widthRect: 100px;
$heigthRect: 50px;

svg {
  border: 1px solid red;
  width: $widthSvg;
  height: $heightSvg;
}

rect {
  width: $widthRect;
  height: $heigthRect;
  fill: white;
  stroke-width: 2px;
  stroke: black;
  x: calc((#{$widthSvg} / 2) - (#{$widthRect} / 2));
  y: calc((#{$heightSvg} /2) - (#{$heigthRect} / 2));
}


text {
  x: calc((#{$widthSvg} / 2) - (#{$widthRect} / 2));
  y: calc((#{$heightSvg} /2) - (#{$heigthRect} / 2));
}
