<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Open Project Designer
        link(rel="icon", href="../assets/logo.png")

    body
    
        #side-menu
            ul.menu.vertical

        #tab-window
            #tab-nav
                .button#side-menu-toggler
                    span.fas.fa-bars
            #tab-menu
                ul.menu
            #properties-panel
                #action-buttons
                #properties-list.list
            #tab-view
