<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="../src/styles/0-plugins/fontawesome/css/fontawesome-all.css")
        link(rel="stylesheet", href="../src/styles/main.css")

        title Open Project Designer

    body
    
        #side-menu
            ul.menu.vertical
                li.button
                    span nuovo progetto
                li.button
                    span apri progetto
                li.button
                    span salva
                li.button
                    span salva con nome
                li.button
                    span esporta...
                li.button
                    span opzioni
                li.button
                    span info

        #tab-window
            #tab-nav
                .button#side-menu-toggler
                    span.fas.fa-bars
                #wbs-tab-button.button
                    div
                        span wbs
                    span.fas.fa-sitemap
                #gantt-tab-button.button.active
                    div
                        span gantt
                    span.fas.fa-th-list
            #tab-menu
                ul.menu
            #properties-panel
                .list
            #tab-view
                #gantt-view
                    table.gantt
                        tr
                            th #
                            th activity
                            th start date
                            th end date
                            th
                                progress(max="100" value="50")
                            th 01-01-2018
                            th 02-01-2018
                            th 03-01-2018
                        tr
                            td 1
                            td pianificazione
                            td 01-01-2018
                            td 03-01-2018
                            td
                                progress(max="100" value="50")
                            td.full
                            td.full
                            td.full
                        tr
                            td 1.1
                            td pianificazione
                            td 01-01-2018
                            td 01-01-2018
                            td
                                progress(max="100" value="100")
                            td.full
                            td
                            td
                        tr
                            td 1.2
                            td pianificazione
                            td 02-01-2018
                            td 03-01-2018
                            td
                                progress(max="100" value="50")
                            td
                            td.full
                            td.full
                        tr
                            td 1.3
                            td pianificazione
                            td 03-01-2018
                            td 03-01-2018
                            td
                                progress(max="100" value="0")
                            td
                            td
                            td.full

        script(src="../src/scripts/style-scripts/style-script.ts")
        script(src="../src/scripts/tab-window-scripts/app.ts")
