<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="../src/styles/main.css")
        //link(rel="stylesheet", href="src/styles/0-plugins/fontawesome-all.css")
        //<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

        title Open PROject

    body
        #side-menu
            ul
                li
                    span nuovo progetto
                li
                    span apri progetto
                li
                    span salva
                li
                    span salva con nome
                li
                    span esporta...
                li
                    span opzioni
                li
                    span info

        #tab-window
            #tab-nav
                .button#side-menu-toggler
                    div
                        span menu
                    img(src="../assets/test.png", alt="")
                .button
                    div
                        span wbs
                    img(src="../assets/test.png", alt="")
                .button.active
                    div
                        span gantt
                    img(src="../assets/test.png", alt="")
            
            #tab-menu
                ul
                    li
                        span file
                    li
                        span modifica
                    li
                        span selezione
                    li
                        span visualizza
                    li
                        span esegui
            
            #tab-view
                #properties-panel
                    .property-list
                        .property
                            span.property-head proprietà 1
                            .property-body
                        .property
                            span.property-head proprietà 2
                            .property-body
                        .property
                            span.property-head proprietà 3
                            .property-body
                        .property
                            span.property-head proprietà 4
                            .property-body
                        .property
                            span.property-head proprietà 5
                            .property-body
                //i(class="fas fa-user")

        script(src="../src/scripts/style-scripts/style-script.ts")
