<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="../src/styles/0-plugins/fontawesome/css/fontawesome-all.css")
        link(rel="stylesheet", href="../src/styles/main.css")

        title Open PROject

    body
    
        #side-menu
            ul.menu.vertical
                li.button
                    span nuovo progetto
                li.button
                    span apri progetto
                li.button
                    span salva
                li.button
                    span salva con nome
                li.button
                    span esporta...
                li.button
                    span opzioni
                li.button
                    span info

        #tab-window
            #tab-nav
                .button#side-menu-toggler
                    span.fas.fa-bars
                #wbs-tab-button.button
                    div
                        span wbs
                    span.fas.fa-sitemap
                #gantt-tab-button.button.active
                    div
                        span gantt
                    span.fas.fa-th-list
            #tab-menu
                ul.menu
            #properties-panel
                .list
            #tab-view

        script(src="../src/scripts/style-scripts/style-script.ts")
        script(src="../src/scripts/tab-window-scripts/app.ts")
