//Tab window
#tab-window
  height: 100vh
  display: grid
  grid-template-rows: tab-window.nav.height tab-window.menu.height

  #tab-nav
    display: flex
    background: dark-grey[0]
    transition: 0.5s
    .button
      position: relative
      flex-basis: tab-window.nav.height
      box-sizing: border-box
      padding: tab-window.nav.button.padding
      div
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        display: flex
        justify-content: center
        align-items: center
        background: white
        color: black
        transform: translateY(-100%)
        transition: 0.3s
        span
          text-transform: uppercase
          font-size: 14px
          font-weight: 400
      img
        height: 100%
        width: 100%

      &:not(.active):hover
        div
          transform: translateY(0px)

      &.active
        background: dark-grey[1]

    &.move-left
      margin-left: side-menu.width - tab-window.nav.height


  #tab-menu
    background: dark-grey[1]
    color: white
    .menu
      height: 100%


  #tab-view
    display: flex
    flex-direction: row-reverse
    #properties-panel
      width: properties-panel.width
      background: dark-grey[0]
      color: white
      .property-list
        display: flex
        flex-direction: column
        margin: 10px
        .property
          separator(1px, solid, white)
          .property-head
            first-letter-capitalized()
            font-weight: 600
