//Tab window
#tab-window
  height: 100vh
  display: grid
  grid-template-rows: tab-window.nav.height tab-window.menu.height
  grid-template-columns: auto tab-window.properties-panel.width
  grid-template-areas: 'nav nav' 'menu menu' 'view properties-panel'

  #tab-nav
    grid-area: nav
    display: flex
    background: dark-grey[0]
    #side-menu-toggler
      z-index: 2
    .button
      position: relative
      flex-basis: tab-window.nav.height
      box-sizing: border-box
      padding: tab-window.nav.button.padding
      transition: 0.5s 0.08s
      div
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        background: white
        color: black
        transform: translateY(-100%)
        transition: 0.3s
        span
          text-transform: uppercase
          font-size: 14px
          font-weight: 400
      > span
        color: white
        font-size: tab-window.nav.height * 0.5
        transition: 0.3s

      &:not(.active):hover
        div
          transform: translateY(0px)
        > span
          transform: scale(1.3)

      &.active
        background: dark-grey[1]

    &.move-left
      .button:nth-child(1)
        margin-left: side-menu.width - tab-window.nav.height

  #tab-menu
    grid-area: menu
    background: dark-grey[1]
    color: white
    .menu
      height: 100%

  #tab-view
    grid-area: view
    overflow: auto
    
    > *
      height: 100%
      width: 100%

  #properties-panel
    grid-area: properties-panel
    box-sizing: border-box
    padding: tab-window.properties-panel.padding
    background: dark-grey[0]
    color: white
    .button
      width: 2em
      &:not(:hover)
        background: dark-grey[1]
      &:hover:not(.delete-button)
        background: skyblue
    .list .property
      padding: 10px
      separator(horizontal, 1px solid white)
    
    > #action-buttons
      display: flex
