//Create a separator beetwen elements
separator($color, $thickness, $style)
  border-bottom: $color $thickness $style

  &:last-child
    border-bottom: none


//Create a counter before the text
counter-before($counter, $filler = "")
  counter-increment: $counter

  &::before
    content: counter($counter) $filler "⁣"


//Create a counter after the text
counter-after($counter, $filler = "")
  counter-increment: $counter

  &::after
    content: "⁣" $filler counter($counter)


//Capitalize the first letter
first-letter-capitalized()
  &::first-letter
    text-transform: uppercase
