//Colors
dark-grey = #454545, #303030, #151515


//Side menu properties
side-menu = {
  width: 200px,
  horizontal-padding: 10px
}


//Tabs window properties
tab-window = {
  nav: {
    height: 55px,
    button: {
      padding: 10px
    }
  },
  menu: {
    height: 30px
  },
  properties-panel: {
    width: 300px,
    padding: 10px
  }
}


//GANTT properties
gantt = {
  row-height: 30px
}
