//Colors
dark-grey = #464646, #303030, #151515


//Tabs navigation properties
tab-window = {
  nav: {
    height: 60px,
    button: {
      padding: 10px
    }
  },
  menu: {
    height: 30px
  }
}


//Properties panel properties
properties-panel = {
  width: 300px
}


//Side menu properties
side-menu = {
  width: 200px,
  horizontal-padding: 10px
}
